/* You can add global styles to this file, and also import other style files */
@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
    /*-----------------
  COLORS
  ------------------*/

    --clr-primary: hsl(0, 0%, 13%);
    --clr-accent: hsl(0, 0%, 96%);
    --clr-complement: hsl(261, 100%, 27%);
    --clr-error: hsl(351, 100%, 35%);

    /*-----------------
  FONTS
  ------------------*/

    --ff-primary: "Poiret One", cursive;
    --ff-secondary: "Montserrat", sans-serif;

    /* Font Weight */

    --fw-thin: 200;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 800;

    /* Font Size*/

    --fs-xsmall: 0.875rem; /*14 px*/
    --fs-small: 1rem; /*16 px*/
    --fs-normal: 1.175rem; /*18 px*/
    --fs-medium: 1.3125rem; /*21 px*/
    --fs-medium-large: 1.5rem; /* 24px */
    --fs-mobile-large: 1.75rem; /*28px*/
    --fs-large: 2rem; /*32 px*/
    --fs-mobile-xlarge: 2.25rem; /*35px*/
    --fs-xlarge: 2.625rem; /*42 px*/
    --fs-biggerscreen: 3.2rem; /*51 px*/

    /*----------------
  SPACING
  ------------------*/

    --sz-400: 1rem;
    --sz-500: 1.5rem;
    --sz-600: 2rem;
    --sz-700: 3rem;
    --sz-800: 4rem;
    --sz-900: 5rem;
    --sz-1000: 7rem;

    /*-----------------
  font size standards
  ------------------*/

    /*font standard (mobile first)*/
    --fs-h1: var(--fs-xlarge);
    --fs-h2: var(--fs-mobile-xlarge);
    --fs-h3: var(--fs-mobile-large);
    --fs-h4: var(--fs-medium-large);
    --fs-standard: var(--fs-normal);

    /*Spacing standards on the page*/

    --standard-margin: var(--sz-800);
    --standard-padding: var(--sz-600);
    --standard-border: var(--sz-900);
    --button-padding: var(--sz-500);
    --button-margin: 0.3rem;
}

/*-------------------------------------
MEDIA CLASSES
---------------------------------------*/

/*-------------------------------------
UTILITY CLASSES
---------------------------------------*/

/* .css-convention{
  1. layout and position
  2. display and visibility
  3. clipping
  4. animation
  5. box model
  6. background
  7. typography
} */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.dark {
    background-color: var(--clr-primary);
}

/*-------------------------------------
PAD
---------------------------------------*/
.pad__row {
    padding: 0;
    min-width: 34rem;
}
.pad__container {
    padding: 0;
    margin: 0;
}

.pad__button {
    width: 7rem;
    padding: var(--button-padding);
    margin: var(--button-margin);

    border-radius: 0;

    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-normal);
}

.pad__button:hover {
    background-color: var(--clr-complement);
    color: var(--clr-accent);
}

.pad__button--operator {
    background-color: var(--clr-complement);
    font-weight: var(--fw-semi-bold);
}

.pad__button--operator:hover {
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}

.pad__button--operator-equal {
    background-color: var(--clr-accent);
    color: var(--clr-primary);
    font-weight: var(--fw-semi-bold);
}

.pad__button--operator-equal:hover {
    color: var(--clr-accent);
    background-color: var(--clr-primary);
}


/*-------------------------------------
DISPLAY
---------------------------------------*/

.display-info {
    position: relative;

    margin-bottom: 0.5rem;
    margin-top: var(--sz-1000);
    padding-right: 0.5rem;

    color: var(--clr-accent);
    background-color: transparent;

    font-size: var(--fs-biggerscreen);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-secondary);

    border-radius: 0;
    border-color: var(--clr-accent);
    border-width: 1px;
    border-style: solid;

    min-width: 30rem;
    max-width: 30rem;
    min-height: 4rem;
}

.error-message {
    background-color: var(--clr-error);
    color: var(--clr-accent);
    padding: 1rem 0;
}

